.search-form {
    display: flex;
    border: 2px solid #e6e6e6;
    margin: 10px;
    transition: border-color .1s ease;
}

.search-form__active {
    border-color: #afafaf;
}

.search-form--input {
    border: none;
    outline: none;
    flex: 1;
    padding: 9px 0 9px 9px;
    color: #3e3e3e;
}

.search-form--button {
    border: none;
    outline: none;
    height: 33px;
    width: 33px;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    transition: background-color .3s ease
    ,opacity .1s ease;
    animation: fadein .2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.search-form--button:hover {
    background-color: #f6f6f6;
}